.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000!important;
    color: white;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerLeft a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
}

.header__icon {
    width: 100px;
    margin-right: 40px;
}

.headerRight {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.search-bar {
    display: flex;
    align-items: center;
}

.input-container {
    position: relative; /* For the error bubble to be positioned properly */
    display: flex;
    align-items: center;
}


.search-button  {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #ffcc00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e6b800;
}

.fa-lightbulb{
    font-size: 30px;
}
.fa-lightbulb:hover{
    cursor: pointer;
    color: #ffcc00;
}

