.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000!important;
    color: white;
}

.headerLeft {
    display: flex;
    align-items: center;
}


.headerLeft a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
}

.header__icon {
    width: 100px;
    margin-right: 40px;
}

.headerRight {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.search-button  {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #ffcc00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e6b800;
}

.fa-lightbulb {
    font-size: 30px;
}

.fa-lightbulb:hover {
    cursor: pointer;
    color: #ffcc00;
}

/* Hamburger icon */
.hamburger-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.hamburger-icon:hover {
    color: #ffcc00;
}

/* Menu Styling */
.menu {
    display: flex;
    gap: 20px;
    width: 100%;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Hide menu on small screens */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #000;
        width: 100%;
        padding: 20px;
        z-index: 100;
        
    }

    .headerRight{
        display: grid;
        grid-template-columns:2fr 0.5fr 0.5fr;
        grid-template-areas: "search bulb menu";
    }

    .hamburger-icon{
        grid-area: menu;
        text-align: end;
        padding-top: 8%;

    }
    .search{
        grid-area: search;
        text-align: end
    }
    .bulb{
        grid-area: bulb;
        text-align: end
    }
    /* Show menu when it's open */
    .menu.open {
        display: flex;
    }

    /* Show hamburger icon on small screens */
    .hamburger-icon {
        display: block;
    }
}
