.recentMov{
    min-height: 100vh;
    padding: 0 3rem 3rem 3rem;
}
.recent-movies {
    padding: 20px;
    height: 100vh;
}

.recent-movies h2 {
    margin-bottom: 20px;
}

.recent-movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
}

.recent-movie-link {
    text-decoration: none;
    color: inherit;
}

.recent-movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recent-movie-poster {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.recent-movie-item p {
    margin-top: 10px;
}
